
%p
  Thanks for joining Recall' pre-launch waiting list.

%p 
  We'll be sure to send you and invitation as soon as possible so you can signup to start using our service. In the meantime, let your friends know so that they can join on Recall too.
%br
%p Best regards,
%p Recall Team
