.recall-here #recall-widget{
  display: block !important;
}
.recall-here #recall-widget .btn-phone-float{
  cursor: pointer;
  background: #D2272A;
  position: fixed;
  bottom: 60px;
  right: 80px;
  border-radius: 100%;
  padding: 0;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 1px gray;
}
.recall-here #recall-widget .btn-phone-float .icon{
  background: url(/widget/phone-float.png);
  width: 70px;
  height: 70px;
  background-size: cover;
  border: 3px solid white;
  border-radius: 100%;
}
.recall-here .submit-form .close{
  margin-top: -5px;
}
.recall-here .submit-form{
  padding: 19px;
  display: none !important;
  position: fixed;
  top: 16%;
  left: 35%;
  width: 550px;
  height: 432px !important;
  background: white;
  z-index: 11111111111;
  border-radius: 5px;
  box-shadow: 21px 27px 70.9px -31px black;
  text-align: center;
}
.recall-here .submit-form .cp-icon{
  position: absolute!important;
  top: 240px!important;
  left: 142px!important;
  width: 20px!important;
  height: 20px!important;
}
.recall-here .submit-form input.phone{
  /*padding-left: 40px;*/
}

.recall-here .submit-form input, .recall-here .submit-form select{
  width: 290px;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.33);
  border-radius: 4px;
  height: 50px !important;
  margin-top: 30px !important;
  padding: 5px 20px;
  font-size: 20px;
}
.recall-here .submit-form select{
  width: 330px !important;
  height: 61px !important;  
}

.recall-here .submit-form button.submit{
  font-size: 20px;
  width: 320px !important;
  display: block;
  margin: 0 auto;
  height: 60px  !important;
  margin-top: 30px;
  border-radius: 4px;
  background: #D2272A;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 3px 2px 6px 0px #541516;
  outline: none;
}
.recall-here .submit-form button.submit:active, .recall-here .submit-form button.submit.active{
  box-shadow: none;
}
.overlay{
  z-index: 111111111;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5)!important;
  top: 0;
  left: 0;
}

.recall-here #recall-widget.open .btn-phone-float{
  display: none !important;
}

.recall-here #recall-widget.open .text-label{
  display: none !important;
}


.recall-here #recall-widget.open .submit-form, .recall-here #recall-widget.open .overlay{
  display: block !important;
}