.recall-here
  #recall-widget{style:'display:none'}
    %a.btn.btn-phone-float
      .icon
    %span.text-label{style:'position: fixed;right: 60px;bottom: 30px;font-size: 20px;font-weight: bold;'} Need Help?

    %form.submit-form
      %a.close{style:'float:right;'} ✖
      %h2{style:'font-size:25px'} Need Help? We will call you back.
      %input.name{type: 'text', name: 'name', placeholder: 'Your name'}
      %input.phone{type: 'text', name: 'phone', placeholder: 'Your phone'}
      / %img.cp-icon{:alt => "", :src => "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAMAAABYi/ZGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAulBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMwAAAA7FhxZAAAAPHRSTlMAVufLD3v+nGZG7uENkam1R04BwTj95BeMyAoGx7sJGuO/J+pQt4008MDfRDPrmijiGL4EiDrMdUml72c68CCxAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALiAAAC4gB5Y4pSQAAAJhJREFUGNNlztcWgjAMBuBotQ6cqOBGcG/cK+//XDZge5rjf5GLL2kTAMhkRQ548hKxwKmIKrLErEyGTsU2JzGs2lZLrW5bI7Wmba4gavHF7Y4yz+fYpcFen9lgSDgaMwwmhCE7EaIpofBhNl+YznJF6K1V2Ww17vaoIw8aj7FBNH+ezv8Gl6v8PbbX3+6JPdhN7vMVvz/wBcuMHpMxcdOsAAAAAElFTkSuQmCC"}/

      %select{class: 'category', name: 'category'}
        - Ticket::CATEGORIES.each do |c|
          %option{value: c}= c

      %button.submit{type: 'submit'} CALL ME
    .overlay