.modal.fade#share-options.call-modal-options{"aria-labelledby" => "Ticketlabel", :role => "dialog", :tabindex => "-1", class: "call-dialog", data: {backdrop: 'static', keyboard: 'false'}}

%audio#new-request{:loop => "", :src => "/telephone-ring.mp3"}
